:root {
    --tube-percentage: 100%;
  }
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1679AB;
    animation: slide 30s linear infinite;
    
  }

  @keyframes slide {
    from{
      background-position: 0 0;;
    }
    to{
      background-position: -1024px 0px;
    }
  }

.card {
    padding: 30px;
    background-color: #FFB1B1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    animation-name: float; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::placeholder {
  color: black;
}

#inNumber{
    height: 30px;
    /* border-radius: 10px ; */
    padding: 10px;
    outline: none;
    border-width: 0 0 2px;
    border-color: #1679AB;
    background-color: #FFB1B1;
    
}

@keyframes float {
    0% {
      transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -50px);
      } 
    100% {
      transform: translate(0, -0px);
    }
    
  }

  .btnReset {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: #1679AB;
    color: azure;
    ;
  }


.card>div{
    display: flex;
    justify-content: center;
}

#life {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
#botLayer{
    width: 100%;
    height: 100%;
    background-color: #c1d7e3;
    border-radius: 10px;
}

#topLayer{
    width: var(--tube-percentage);
    height: 100%;
    background-color: #1679AB;
    border-radius: 10px;
}

#lbLife{
    margin: 0;
    position: absolute;
    color: azure;
}

